<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular Example</title>
</head>
<body>

  <div ng-app="myApp">
    <div ng-controller="myCtrl">
      <input type="text" ng-model="myVar">
      <p><strong>myVar: </strong>{{ myVar }}</p>
      <input type="text" ng-model="myVar">

      <ul>
        <li ng-repeat="el in myArr">{{ el }}</li>
      </ul>

      <button ng-click="myFunc()">Click!</button>
    </div>
  </div>
  
  <script src="lib/angular/angular.js"></script>
  <script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', function ($scope) {

      $scope.myVar = "Hello World!";

      $scope.myArr = ['one', 'two', 'three'];

      $scope.myFunc = function () {
        alert('myVar = ' + $scope.myVar);
      };

    });
  </script>
</body>
</html>
