<h1>Angular Notes</h1>
<hr>
<div id="notes" ng-controller="NotesCtrl">
  <nav class="span3">
    <input type="text" ng-model="searchText" id="search" class="span12" placeholder="Search">
    <ul class="nav nav-list well">
      <li ng-repeat="note in allNotes | filter:searchText" active-if-current="{{note.id}}">
        <a ng-click="deleteNote(note.id)" class="pull-right"><i class="icon-trash"></i></a>
        <a ng-click="selectNote(note.id)">{{note.title}}</a>
      </li> 
    </ul>
    <br>
    <div class="row-fluid">
      <button class="span12 btn btn-primary" ng-click="newNote()">
        New Note
      </button>
    </div>
  </nav>

  <div class="span9">
    <div class="note row-fluid">
      <input type="text" ng-model="currentNote.title" class="span12" id="note-title">
      <textarea ng-model="currentNote.body" id="note-body" class="span12"></textarea>
      <br>
      <div id="note-tags">
        <strong><small>Tags:</small></strong>
        <br>
        <input type="text" placeholder="tags" ng-model="currentNote.tags" class="span12">
      </div>
      <button class="btn btn-success pull-right" ng-click="saveNote()">Save Note</button>
    </div>
  </div>
</div>
